@import "~normalize.css";
@import "./button.scss";

$font-size: 25px;
$bg-red: brown;

body {
	font-family: sans-serif;
  font-size: $font-size;
  background: $bg-red;
}

.container {
	padding: 10px;
}

.navbar {
	.btn {
		font-size: $font-size;
		padding: 10px;
  }

	ul {
		list-style: none;

		li {
				display: inline-block;
		}
	}
}

.title {
	display: inline-block;
}
