@import "~normalize.css";

$font-size: 25px;
$bg-red: brown;

body {
  font-size: $font-size;
  background: $bg-red;
}

.navbar {
	.btn {
		font-size: $font-size;
		padding: 10px;
  }

	ul {
		list-style: none;

		li {
				display: inline-block;
		}
	}
}